<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>David Sánchez - $title$</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-blog.css" />
  <link rel="stylesheet" type="text/css" href="/css/tango.css" />

  <script type="text/javascript"
    src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
</head>

<body>
  <div class="blog-masthead">
    <div class="container">
      <nav class="blog-nav">
        <a class="blog-nav-item" href="../">Home</a>
        <a class="blog-nav-item" href="/">Blog</a>
        <a class="blog-nav-item" href="/about.html">About</a>
        <a class="blog-nav-item" href="https://davsanchez.gitlab.io/40secondsCV/CV-en.pdf">CV</a>
        <a class="blog-nav-item" href="/contact.html">Contact</a>
        <a class="blog-nav-item" href="/archive.html">Blog Archive</a>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">David Sánchez's Site</h1>
      <p class="lead blog-description">
        A Telecom Engineer talking about whatever
      </p>
    </div>

    <div class="row">
      <div class="col-sm-8 blog-main">
        $body$
      </div>

      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>I'm just a telecom engineer with knowledge itches.</p>
          <!-- <p>(<strong>Work in progress!</strong>)</p> -->
        </div>
        <!-- <div class="sidebar-module">
            <h4>Archives</h4>
            <ol class="list-unstyled">
              <li><a href="#">June 2015</a></li>
            </ol>
          </div> -->
        <div class="sidebar-module">
          <h4>Elsewhere</h4>
          <ol class="list-unstyled">
            <li>
              <a href="https://davsanchez.gitlab.io/">Parent Site</a>
            </li>
            <li>
              <a href="https://gitlab.com/DavSanchez">GitLab</a>
            </li>
            <li>
              <a href="https://github.com/DavSanchez">GitHub</a>
            </li>
            <li>
              <a href="https://twitter.com/_DavSanchez">Twitter</a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/davsanchez">LinkedIn</a>
            </li>
          </ol>
        </div>
        <div class="sidebar-module">
          <a href="/atom.xml">Atom</a> - <a href="/rss.xml">RSS</a>
        </div>
      </div>
    </div>
  </div>

  <footer class="blog-footer">
    <p>
      Site proudly generated by
      <a href="http://jaspervdj.be/hakyll">Hakyll</a>
    </p>
  </footer>
</body>

</html>